body{
	background-color: black;
	margin: 0px;
}
/*HEADER*/
header{
	display: block;
	background-color: grey;
	background-image: url(../img/cleyton2.png);
	color: white;
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-x:-350px; 
	border-bottom: solid #0e4235;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}
#animação{
	position: relative;
	left: 80px;
	bottom: 3px;
	animation: teste 2s;
	animation-delay: 2s;
	transition: all 2s;
	opacity: 0;
}
@keyframes teste{
	from{
		opacity: 1;
		transform:scale(1);
		left: 80px;
	}
	to{
		transform:scale(1.5);
		opacity: 0;
		left: 86px;
	}
}
header img{
	padding-right: 20px;
	position: relative;
}
.flex ul{
	padding: 0;
	margin: 0;
}
.flex{
	display: flex;
}
header p{
	font-family: 'Aguafina Script', arial;
	font-size: 1.3em;
}
header h1, p{
	margin: 20px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
header h1 {
	display: flex;
	align-content: bottom;
	text-align: bottom;
	align-items: center;
	padding-right: 95px;
}
header div{
	justify-content: center;
	width:100%;
}
header div ul{
	margin-top: 0;
	flex-direction: column;
	width: 100%;
	text-align: center;
	list-style: none;
}
header div ul li{
	display: flex;
	justify-content: center;
}
header div ul li a{
	text-decoration: none;
	align-content: space-around;
	font-size:1.5rem;
	text-align: center;
	align-self: center;
}
header div ul li:hover{
	font-size: 2rem;
	background-color: black;
}
header div ul li a:hover{
	color:green;
}
header div ul li a{
	color: white;
}
#bio a{
	color: green;
}

/*MAIN*/

main{
	color: white;
	border-bottom: solid #0e4235;
	background-color: grey;
	background-image: url(../img/manyclei.jpg);
	padding-top: 20px;
	padding-bottom: 20px;
	background-attachment: fixed;
}
main h1{
	text-align: center;
	padding-top: 8px;
	margin: 0;
}
main p{
	text-align: justify;
	margin: 0;
	padding: 5px 15px;
}
main p:last-child{
	padding-bottom: 40px;
}
main div{
	background-color: #2e2f31;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 15px;
}
main div p{
	color: #c3c2c2
}
.cont{
	padding-top: 15px;
}
.cont p{
	display:flex;
	justify-content:left;
	text-align:left;
	justify-items: left;
	line-height: 1.3em;
	margin-top:14px;
	margin-bottom: 14px;
	padding: 0;
	font-size: 14px;
}
#hpl{
    background-image:url("../img/hp.jpg");
    height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/*FOOTER*/

aside{
	display: none;
	visibility: hidden;
}

footer{
	color: white;
	background-color: rgb(46, 43, 43);
}
footer form{
	display: flex;
	flex-flow: column;
	padding-bottom: 10px;
	border-bottom: dotted #0e4235;
}
footer h3{
	font-size: 20px;
	text-align: center;
}
.send{
	width: 100px;
}
input{
	margin: 5px;
}

footer div{
	padding-top: 10px;
	flex-flow: column;
}
footer div p{
	margin: 0%;
	font-size: 1.2em;
}
footer div section{
	display: flex;
	justify-content: center;
}
footer div section ul li{
	display: flex;
	padding: 5px 5px;
	font-size: 1.2rem;
}
footer div section ul li a{
	text-decoration: none;
	color: white;
}
footer div section ul li a:hover{
	text-decoration: underline;
}
#instagram{
	color: pink;
}
#facebook{
	color: #3b5998;
}
#twitter{
	color: #00acee;
}

/* RESPONSIVE */

@media screen and (min-width: 600px) {
	header div ul{
		flex-direction: row;
		flex-wrap: wrap;
		width:100%;
	}
	header div ul li{
		width:50%;
	}
	header{
		height: 320px;
		background-position: top;
		background-position-y: -100px;
	}
	main{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	main div{
		margin-left: 50px;
		margin-right: 50px;
	}
	footer div ul{
		display: inline-flex;
	}
	footer div ul li{
		margin-right: 20px;
	}
	form div textarea{
		width: 400px;
	}
	.mano{
		display: flex;
		justify-items: center;
	}
}
@media screen and (min-width: 1000px) {
	header{
		display: flex;
		flex-wrap: wrap;
		background-position: top;
		background-position-y: -200px;
	}
	header div{
		width: 100%;
		order:0;
		margin-top:-20px;
		background-color: black;
		justify-items: flex-start
	}
	header div ul{
		flex-wrap: nowrap;
		background-color: black;
		justify-content:flex-start;
		height:8vh;
		width: 100%;
	}
	header div ul li{
		padding: 0%;
	}
	header div ul li a{
		font-size: 14px;
	}
	header #menu{
		position: fixed;
	}
	header h1{
		padding-top: 40px;
		order:1;
		align-items:center;
	}
	header p{
		width: 100%;
		order: 2;
	}
	#menu{
		width:100%;
		padding-top: 20px;
	}
	#menu ul li{
		width: initial;
		padding: 11px 5px;
		margin: 0px 28px 0px 0px;
	}
	main{
		padding-top: 60px;
		padding-bottom: 50px;
	}
	footer{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}
	#grid1{
		grid-column: 1/2;
	}
	#grid2{
		grid-column: 2/3;
	}
	footer form{
		border-bottom: none;
		padding-right: 15px;
		border-right: dotted #0e4235;
	}
	footer div ul{
		flex-flow: column;
	}
	#bortop{
		border-top: dotted #0e4235;
		padding-top: 15px;
	}
	.fb-page{
		margin-left: 40px;
		margin-bottom: 30px;
	}
	aside{
		display: block;
		visibility: visible;
	}
}

